/* Start global */
body {
	background: url(./bg.jpg);
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
	display: flex;
	color: #f0d43a;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.holder {
	display: flex;
	flex-direction: column;
}
/* End global */

/* Start headline */
.headline {
	background-color: #0a113a;
	width: 100%;
	text-align: center;
	justify-content: center;
}
/* End headline */

/* Start zip */
.zip {
	margin-top: 50px;
}
.zip input {
	width: 400px;
	height: 50px;
	text-align: center;
	border-radius: 30px;
	border-style: none;
	outline: none;
	background-color: darkslateblue;
	font-size: 20px;
}
/* End zip */

/* Start feel */
.feel {
	margin-top: 20px;
	width: 400px;
	height: 50px;
}
.feel input {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	border: none;
	outline: none;
	background-color: darkslateblue;
	font-size: 20px;
	text-align: center;
}
/* End feel */

/* Start controls  */
.controls {
	margin-top: 50px;
}
button {
	width: 200px;
	height: 50px;
	background-color: #0a113a;
	color: #f0d43a;
	border-radius: 30px;
	cursor: pointer;
	font-size: 20px;
}
button:hover {
	background-color: navy;
}
button:active {
	background-color: darkblue;
}
/* End controls */

/* Start entry */
.entry {
	position: absolute;
	margin-top: 100px;
	color: cornflowerblue;
	width: 700px;
	height: 100px;
	top: 400px;
	font-size: 50px;
}
.entry .title {
	position: relative;
	top: 0px;
	text-align: center;
}
.entry #entryHolder {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
/* End entry */
